// Burada tanımlanana blockları çağırdığız sayfada eziyoruz.
// her sayfada olmasını istediğiniz şeyleri burada eklemelisiniz.

block stylesheet
      link(rel="stylesheet", href="layout.css")
block content
block scripts
      script(src="layout.js")
